.vhi-btn-wrap{
    position: relative;
}
.vhi-btn-wrap .vhi-btn-spinner{
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    margin-top: -14px;
    left: 50%;
    border-radius:50%;
    border: 2px solid #fff;
    border-bottom: 2px solid transparent;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg)  ; }
    100% { transform: rotate(360deg); }
}
.vhi-btn{
    background: var(--purple);
    color: #fff;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    border: 0;
    letter-spacing:2px;
    text-transform: uppercase;
    font-size: 0.9rem;
    border-radius:6px;
    min-height: 45px;
}
.vhi-btn .vhi-btn-spinner{
    height: 24px;
    width :24px;
    border-radius: 12px;
    border: 1px solid #fff;
}
.vhi-btn:hover{
    background-color: var(--l-purple);
}

.vhi-btn:disabled, .vhi-btn:disabled:hover{
    background-color: #ccc;
    color: #999;
    cursor: not-allowed;
}
