.vhi-input{
    padding: 10px;
    font-size: 1rem;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
    color: var(--red);
}
.vhi-input:focus{
    outline: none;
    border: 1px solid #09c;
}