/* this is the index.css or index.scss file */
/* this file is only to be used as an assembler */
/* first, global values, third party lib such as bootstrap */
/* second, include components, page level styling */
:root{
    --purple:  #9c3cac;
    --l-purple: #a65db3;
}
* {
    letter-spacing: 0.1rem;
}