:root {
  --purple: purple;
  --black: #333;
  --white: #fff;
  --border: 2px solid #333;
  --red: red;
}
/* add css module styles here (optional) */
body, div, input, button {
  color: var(--black);
  border : var(--border);

}

